<div class="container">
    <div class="row">
        <h1>Admin Sport Buddy</h1>
        <div class="col-md-5">
            <div class="col-md-12">
                <button class="btn btn-dark" (click)="onSelect('category')">Add/Edit Category</button>
            </div>
            <div class="col-md-12">
                <button class="btn btn-dark" (click)="onSelect('city')">Add/Edit City</button>
            </div>
            <div class="col-md-12">
                <button class="btn btn-dark" (click)="onSelect('area')">Add/Edit Area</button>
            </div>
        </div>
        <div class="col-md-7" *ngIf="btnSelectedType === 'category'">
            <cx-add-edit-category></cx-add-edit-category>
        </div>
        <div class="col-md-7" *ngIf="btnSelectedType === 'city'">
            <cx-add-edit-city></cx-add-edit-city>
        </div>
        <div class="col-md-7" *ngIf="btnSelectedType === 'area'">
            <cx-add-edit-area></cx-add-edit-area>
        </div>
    </div>
</div>