<div class="container m-auto">
    <div class="row">
        <div class="col-md-3 ps-4 d-flex mt-5">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#4B77D1"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
            </span>
            <span>
                <a class="text-primary" [routerLink]="['/login']" >back to login page</a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="text-center text-body-emphasis text-capitalize mt-3 mb-3">User Registration Form</h3>
        </div>
    </div>
    <form class="row row-cols-xs-auto g-3 " [formGroup]="userRegistrationForm" (ngSubmit)="registerUser()">
        <div class="col-md-6 ps-4">
            <div class="form-group mb-3">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="id" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="name">Name</label>
                <input type="text" id="name" formControlName="name" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="mobile">Mobile</label>
                <input type="number" id="mobile" formControlName="mobile" class="form-control">
            </div>
            <!-- <div class="form-group">
                        <label for="Type-dropdown">Type</label>
                    </div>
                    <div class="form-group">
                        <label for="intrested-sport-dropdown">Intrested Sport</label>
                    </div> -->
            <div class="form-group mb-3">
                <label for="address1">Address1</label>
                <input type="text" id="address1" formControlName="address1" class="form-control">
            </div>
        </div>
        <div class="col-md-6 ps-4">
            <div class="form-group mb-3">
                <label for="address2">Address2</label>
                <input type="text" id="address2" formControlName="address2" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="pincode">Pincode</label>
                <input type="number" id="pincode" formControlName="pincode" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="city">City</label>
                <input type="text" id="city" formControlName="city" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="gender">Gender</label>
                <select type="text" id="gender" formControlName="gender" class="form-select">
                    <option *ngFor="let gender of genders" [value]="gender">
                        {{ gender }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-12 ps-4">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>